In [432]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("data/allocine.csv")

In [433]:
df

,titre,acteur_1,acteur_2,acteur_3,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production
0,Mon Crime,Nadia Tereszkiewicz,Rebecca Marder,Isabelle Huppert,"4,0","3,9",103.0,"Comédie dramatique,Policier,Judiciaire,Drame,C...",France,Long-métrage,-,0,0,"Dans les années 30 à Paris, Madeleine Verdier,...",",\r\n8 mars 2023\r\n\r\n8 mars 2023\r\n",2023.0
1,Circulez y'a rien à voir!,Jane Birkin,Michel Blanc,Jacques Villeret,"2,2",--,84.0,Comédie,France,Long-métrage,-,0,0,Les inspecteurs Leroux enquêtent chez la propr...,\r\n20 avril 1983\r\n,1983.0
2,Harry Potter à l'école des sorciers,Daniel Radcliffe,Rupert Grint,Emma Watson,"3,7","4,1",152.0,"Fantastique,Aventure,Famille","U.S.A.,Grande-Bretagne",Long-métrage,125 000 000 $,12,0,"Orphelin, Harry Potter a été recueilli à contr...",\r\n5 décembre 2001\r\n,2001.0
3,En eaux troubles,Jason Statham,Bingbing Li,Rainn Wilson,"2,3","2,5",114.0,"Thriller,Action",U.S.A.,Long-métrage,-,0,0,"Au cœur de l’océan Pacifique, le sous-marin d’...",\r\n22 août 2018\r\n,2018.0
4,Maestro(s),Yvan Attal,Pierre Arditi,Miou-Miou,"3,0","3,1",87.0,Drame,France,Long-métrage,-,0,0,"Chez les Dumar, on est chefs d'orchestre de pè...",\r\n7 décembre 2022\r\n,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114429,Megaquake,NaN,NaN,NaN,NaN,NaN,88.0,"Drame,Science fiction",U.S.A.,Long-métrage,-,0,0,NaN,NaN,2022.0
114430,A Fever in the Blood,Efrem Zimbalist Jr.,Angie Dickinson,Jack Kelly,NaN,NaN,117.0,NaN,U.S.A.,Long-métrage,-,0,0,NaN,NaN,1961.0
114431,The Seven Deadly Sins: Grudge of Edinburgh - P...,NaN,NaN,NaN,NaN,NaN,53.0,"Animation,Action,Aventure,Fantastique",Japon,Long-métrage,-,0,0,Alors que Tristan tente de maîtriser l'immense...,NaN,2023.0
114432,Family,Ken'ichi Endô,Kojiro Hongo,Naoko Inoue,"3,0",--,101.0,NaN,Japon,Long-métrage,-,0,0,NaN,NaN,2001.0
114433,Cricket & Antoinette,NaN,NaN,NaN,NaN,NaN,82.0,"Famille,Aventure",Croatie,Long-métrage,-,0,0,"Ket, le cricket aime jouer avec son groupe et ...",NaN,2023.0

In [434]:
duplicates = df[df.duplicated()]
print(duplicates)

                                      titre acteur_1 acteur_2 acteur_3  \
62148                            Undercover      NaN      NaN      NaN
66309                                Galaxy      NaN      NaN      NaN
88519               Les Enfants de la Blank      NaN      NaN      NaN
88926                                 Fjord      NaN      NaN      NaN
95263                       News of the day      NaN      NaN      NaN
96017                               Le Père      NaN      NaN      NaN
96298                           Histoire(s)      NaN      NaN      NaN
98301                 Das Beethoven-Projekt      NaN      NaN      NaN
98376                  Tierarzt Dr. Vlimmen      NaN      NaN      NaN
98379                    Promenade en Chine      NaN      NaN      NaN
98547   Gabriele Basilico : « le littoral »      NaN      NaN      NaN
98603    Khaled Ben Yahia, un prince du oud      NaN      NaN      NaN
99264                   A Climate for Crime      NaN      NaN      NaN
99668                       Laberinto Verde      NaN      NaN      NaN
105023                          Histoire(s)      NaN      NaN      NaN
107379                       Tango Notturno      NaN      NaN      NaN
107505                Les Monts du désordre      NaN      NaN      NaN
107923                     Pyjama Girls (I)      NaN      NaN      NaN
107925                     Pyjama Girls (I)      NaN      NaN      NaN
107954                   Spuren und Zeichen      NaN      NaN      NaN
108107                    Tamazight Oufella      NaN      NaN      NaN
108175                    Les Hommes debout      NaN      NaN      NaN
108296                                  Ten      NaN      NaN      NaN
108366                  Ma chaire, mon sang      NaN      NaN      NaN
108428            La Nuit du onze septembre      NaN      NaN      NaN
108435                       Severo Torelli      NaN      NaN      NaN
108439                       Severo Torelli      NaN      NaN      NaN
108447                     La Fleur secrète      NaN      NaN      NaN
108453                             Débauche      NaN      NaN      NaN
108489                Touentou fille du feu      NaN      NaN      NaN
112762                                 Elle      NaN      NaN      NaN
113125                         La Rencontre      NaN      NaN      NaN

       note_presse note_spectateur  duree genre pays          type budget  \
62148          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
66309          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
88519          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
88926          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
95263          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
96017          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
96298          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
98301          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
98376          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
98379          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
98547          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
98603          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
99264          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
99668          NaN             NaN    NaN   NaN  NaN  Long-métrage      -
105023         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
107379         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
107505         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
107923         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
107925         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
107954         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108107         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108175         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108296         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108366         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108428         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108435         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108439         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108447         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108453         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
108489         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
112762         NaN             NaN    NaN   NaN  NaN  Long-métrage      -
113125         NaN             NaN    NaN   NaN  NaN  Long-métrage      -

        nominations  prix description date  annee_production
62148             0     0         NaN  NaN            2020.0
66309             0     0         NaN  NaN               NaN
88519             0     0         NaN  NaN            1996.0
88926             0     0         NaN  NaN               NaN
95263             0     0         NaN  NaN            1998.0
96017             0     0         NaN  NaN               NaN
96298             0     0         NaN  NaN               NaN
98301             0     0         NaN  NaN            2010.0
98376             0     0         NaN  NaN            1956.0
98379             0     0         NaN  NaN            1932.0
98547             0     0         NaN  NaN               NaN
98603             0     0         NaN  NaN            2010.0
99264             0     0         NaN  NaN            2008.0
99668             0     0         NaN  NaN            2011.0
105023            0     0         NaN  NaN               NaN
107379            0     0         NaN  NaN            1937.0
107505            0     0         NaN  NaN               NaN
107923            0     0         NaN  NaN               NaN
107925            0     0         NaN  NaN               NaN
107954            0     0         NaN  NaN            2009.0
108107            0     0         NaN  NaN            2008.0
108175            0     0         NaN  NaN            2010.0
108296            0     0         NaN  NaN            2010.0
108366            0     0         NaN  NaN               NaN
108428            0     0         NaN  NaN               NaN
108435            0     0         NaN  NaN            1914.0
108439            0     0         NaN  NaN            1914.0
108447            0     0         NaN  NaN               NaN
108453            0     0         NaN  NaN               NaN
108489            0     0         NaN  NaN            2007.0
112762            0     0         NaN  NaN               NaN
113125            0     0         NaN  NaN               NaN

In [435]:
duplicates = df.duplicated(keep=False)
num_duplicates = duplicates.sum()
print(f"Nombre de colonnes en double: {num_duplicates}")

Nombre de colonnes en double: 61

In [436]:
df = df.drop_duplicates(keep='first')

In [437]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114402 entries, 0 to 114433
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   titre             114401 non-null  object
 1   acteur_1          85403 non-null   object
 2   acteur_2          82000 non-null   object
 3   acteur_3          78620 non-null   object
 4   note_presse       65087 non-null   object
 5   note_spectateur   64992 non-null   object
 6   duree             80451 non-null   float64
 7   genre             53957 non-null   object
 8   pays              90559 non-null   object
 9   type              114401 non-null  object
 10  budget            114400 non-null  object
 11  nominations       114402 non-null  int64
 12  prix              114402 non-null  int64
 13  description       70245 non-null   object
 14  date              21780 non-null   object
 15  annee_production  103156 non-null  float64
dtypes: float64(2), int64(2), object(12)
memory usage: 14.8+ MB

In [438]:
df['annee_production'] = df['annee_production'].fillna(0).astype(int)
df['duree'] = df['duree'].fillna(0).astype(int)

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\407160675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['annee_production'] = df['annee_production'].fillna(0).astype(int)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\407160675.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duree'] = df['duree'].fillna(0).astype(int)

In [439]:
title_counts = df['titre'].value_counts()
print(title_counts)

Hamlet                            18
Carmen                            16
Rage                              11
Alice                             11
Eden                              10
                                  ..
The Other Zoey                     1
Laissez-moi                        1
Un seul deviendra invincible 3     1
The Abyss                          1
Cricket & Antoinette               1
Name: titre, Length: 106803, dtype: int64

In [440]:
df = df.sort_values('annee_production', ascending=False)
df = df.drop_duplicates(subset='titre', keep='first')

In [441]:
mask = ~df['date'].isna().any()
cols = df.columns[np.array(mask)]
print(cols)

[]

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3641931187.py:2: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  cols = df.columns[np.array(mask)]

In [442]:
df = df.sort_values('date', ascending=False)
df

,titre,acteur_1,acteur_2,acteur_3,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production
0,Mon Crime,Nadia Tereszkiewicz,Rebecca Marder,Isabelle Huppert,"4,0","3,9",103,"Comédie dramatique,Policier,Judiciaire,Drame,C...",France,Long-métrage,-,0,0,"Dans les années 30 à Paris, Madeleine Verdier,...",",\r\n8 mars 2023\r\n\r\n8 mars 2023\r\n",2023
32201,Kanam,Amala Akkineni,Sharwanand,Ritu Varma,"3,1",--,150,"Drame,Science fiction",Inde,Long-métrage,-,0,0,"Perdu par le décès de sa mère, il invente une ...",\r\n9 septembre 2022\r\n,2022
13572,Brahmāstra: Part One – Shiva,Ranbir Kapoor,Alia Bhatt,Amitabh Bachchan,"3,1",--,167,"Aventure,Fantastique",Inde,Long-métrage,-,0,0,NaN,\r\n9 septembre 2022\r\n,2022
35763,Oke Oka Jeevitham,Amala Akkineni,Sharwanand,Ritu Varma,NaN,NaN,150,"Drame,Science fiction",Inde,Long-métrage,-,0,0,"Perdu par le décès de sa mère, il invente une ...",\r\n9 septembre 2022\r\n,2022
1719,Le Bonheur des uns...,Vincent Cassel,Bérénice Bejo,Florence Foresti,"2,9","2,6",100,Comédie,"France,Belgique",Long-métrage,-,0,0,"Léa, Marc, Karine et Francis sont deux couples...",\r\n9 septembre 2020\r\n,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92463,Feminin pluriel,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0
92460,Le marche delices,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0
92457,Radionotte,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0
92453,"Nicole Louvier : ""ce soir le veilleur est femme""",NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0
75731,Struggle for Life,NaN,NaN,NaN,"2,6",--,60,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0

In [443]:
df['note_spectateur'] = df['note_spectateur'].replace('--', np.nan)
df['note_presse'] = df['note_presse'].replace('--', np.nan)

df.head()

,titre,acteur_1,acteur_2,acteur_3,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production
0,Mon Crime,Nadia Tereszkiewicz,Rebecca Marder,Isabelle Huppert,"4,0","3,9",103,"Comédie dramatique,Policier,Judiciaire,Drame,C...",France,Long-métrage,-,0,0,"Dans les années 30 à Paris, Madeleine Verdier,...",",\r\n8 mars 2023\r\n\r\n8 mars 2023\r\n",2023
32201,Kanam,Amala Akkineni,Sharwanand,Ritu Varma,"3,1",NaN,150,"Drame,Science fiction",Inde,Long-métrage,-,0,0,"Perdu par le décès de sa mère, il invente une ...",\r\n9 septembre 2022\r\n,2022
13572,Brahmāstra: Part One – Shiva,Ranbir Kapoor,Alia Bhatt,Amitabh Bachchan,"3,1",NaN,167,"Aventure,Fantastique",Inde,Long-métrage,-,0,0,NaN,\r\n9 septembre 2022\r\n,2022
35763,Oke Oka Jeevitham,Amala Akkineni,Sharwanand,Ritu Varma,NaN,NaN,150,"Drame,Science fiction",Inde,Long-métrage,-,0,0,"Perdu par le décès de sa mère, il invente une ...",\r\n9 septembre 2022\r\n,2022
1719,Le Bonheur des uns...,Vincent Cassel,Bérénice Bejo,Florence Foresti,"2,9","2,6",100,Comédie,"France,Belgique",Long-métrage,-,0,0,"Léa, Marc, Karine et Francis sont deux couples...",\r\n9 septembre 2020\r\n,2020

In [444]:
mask = df['note_presse'].fillna('').str.contains('--')
result = df[mask]
result

Empty DataFrame
Columns: [titre, acteur_1, acteur_2, acteur_3, note_presse, note_spectateur, duree, genre, pays, type, budget, nominations, prix, description, date, annee_production]
Index: []

In [445]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106804 entries, 0 to 75731
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   titre             106803 non-null  object
 1   acteur_1          79017 non-null   object
 2   acteur_2          75816 non-null   object
 3   acteur_3          72644 non-null   object
 4   note_presse       59801 non-null   object
 5   note_spectateur   12248 non-null   object
 6   duree             106804 non-null  int32
 7   genre             49842 non-null   object
 8   pays              83965 non-null   object
 9   type              106803 non-null  object
 10  budget            106802 non-null  object
 11  nominations       106804 non-null  int64
 12  prix              106804 non-null  int64
 13  description       64952 non-null   object
 14  date              20063 non-null   object
 15  annee_production  106804 non-null  int32
dtypes: int32(2), int64(2), object(12)
memory usage: 13.0+ MB

In [446]:
# Fonction pour compter les pays différents
def count_unique_countries(row):
    if isinstance(row, str):  # Vérifier si la valeur est une chaîne de caractères (non NaN)
        countries_list = row.split(",")  # Séparer les pays par la virgule pour obtenir une liste
        unique_countries = set([country.strip() for country in countries_list])  # Supprimer les espaces et créer un ensemble de pays uniques
        return len(unique_countries)  # Renvoyer le nombre de pays uniques
    else:
        return 0  # Renvoyer 0 pour les valeurs NaN

# Appliquer la fonction sur la colonne "pays" et créer une nouvelle colonne "nb_pays_uniques"
df['nb_pays_uniques'] = df['pays'].apply(count_unique_countries)

# Trouver la ligne qui a le plus de pays différents
max_unique_countries_row = df.loc[df['nb_pays_uniques'].idxmax()]

# Afficher les informations sur la ligne ayant le plus de pays différents
# print("Ligne avec le plus de pays différents :")
max_unique_countries_row

# # Afficher le nombre de pays différents pour cette ligne
# print("Nombre de pays différents :", max_unique_countries_row['nb_pays_uniques'])

titre                                                   Train Station
acteur_1                                                 Mike Ancrile
acteur_2                                                   Davie-Blue
acteur_3                                                          NaN
note_presse                                                       NaN
note_spectateur                                                   NaN
duree                                                              97
genre                                               Thriller,Policier
pays                U.S.A.,Brésil,Colombie,Iran,Kenya,Allemagne,Ro...
type                                                     Long-métrage
budget                                                              -
nominations                                                         0
prix                                                                0
description                                                       NaN
date                                                              NaN
annee_production                                                 2015
nb_pays_uniques                                                    28
Name: 56614, dtype: object

In [447]:
counts = df['pays'].str.count(',').add(1).value_counts()
print(counts)

1.0     70138
2.0      9826
3.0      2872
4.0       784
5.0       242
6.0        59
7.0        27
8.0         6
9.0         3
11.0        2
10.0        2
13.0        1
12.0        1
28.0        1
24.0        1
Name: pays, dtype: int64

In [448]:
mask = df['pays'].str.count(',') <= 6
df = df[mask]

In [449]:
num_cols = df['pays'].str.count(',').max() + 1
col_names = [f'pays_{i+1}' for i in range(num_cols)]
df[col_names] = df['pays'].str.split(',', expand=True)

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)

In [450]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83948 entries, 0 to 92478
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             83948 non-null  object
 1   acteur_1          75803 non-null  object
 2   acteur_2          73214 non-null  object
 3   acteur_3          70465 non-null  object
 4   note_presse       55135 non-null  object
 5   note_spectateur   12223 non-null  object
 6   duree             83948 non-null  int32
 7   genre             49353 non-null  object
 8   pays              83948 non-null  object
 9   type              83948 non-null  object
 10  budget            83947 non-null  object
 11  nominations       83948 non-null  int64
 12  prix              83948 non-null  int64
 13  description       62868 non-null  object
 14  date              19881 non-null  object
 15  annee_production  83948 non-null  int32
 16  nb_pays_uniques   83948 non-null  int64
 17  pays_1            83948 non-null  object
 18  pays_2            13810 non-null  object
 19  pays_3            3984 non-null   object
 20  pays_4            1112 non-null   object
 21  pays_5            328 non-null    object
 22  pays_6            86 non-null     object
 23  pays_7            27 non-null     object
dtypes: int32(2), int64(3), object(19)
memory usage: 15.4+ MB

In [451]:
num_cols = df['genre'].fillna('').str.count(',').max() + 1
col_names = [f'genre_{i+1}' for i in range(int(num_cols))]
df[col_names] = df['genre'].str.split(',', expand=True)

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_16068\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)

In [452]:
# Fonction pour nettoyer les dates
def clean_date(date_str):
    if isinstance(date_str, float):  # Ignorer les valeurs de type float
        return None
    date_str = date_str.strip()  # Enlever les espaces au début et à la fin
    date_str = date_str.replace(',', '') 
    date_str = date_str.replace('\n', '')  # Enlever les virgules et sauts de ligne
    
    # Trouver l'année en dehors de la première occurrence de la date
    year_pos = date_str.find('\t')
    if year_pos != -1:
        year_str = date_str[year_pos + 1:]  # Extraire l'année
        date_str = date_str[:year_pos]  # Garder seulement la première occurrence de la date
    else:
        year_str = ''
    
    # Vérifier si la date est bien formatée avec trois parties : jour, mois et année
    parts = date_str.split()
    if len(parts) != 3:
        return None  # Retourner None si la date n'est pas bien formatée
    
    day, month, year = parts  # Séparer le jour, le mois et l'année
    month_dict = {
        'janvier': '01',
        'février': '02',
        'mars': '03',
        'avril': '04',
        'mai': '05',
        'juin': '06',
        'juillet': '07',
        'août': '08',
        'septembre': '09',
        'octobre': '10',
        'novembre': '11',
        'décembre': '12'
    }
    # Formater la date avec des zéros pour le jour et le mois si nécessaire
    day = day.zfill(2)
    month = month_dict.get(month.lower(), '00')  # Utiliser '00' si le mois n'est pas valide
    return f"{day}-{month}-{year}{year_str}"

In [453]:
df['date'] = df['date'].apply(clean_date)

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\1379128457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].apply(clean_date)

In [454]:
df

,titre,acteur_1,acteur_2,acteur_3,note_presse,note_spectateur,duree,genre,pays,type,...,pays_5,pays_6,pays_7,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7
0,Mon Crime,Nadia Tereszkiewicz,Rebecca Marder,Isabelle Huppert,"4,0","3,9",103,"Comédie dramatique,Policier,Judiciaire,Drame,C...",France,Long-métrage,...,None,None,None,Comédie dramatique,Policier,Judiciaire,Drame,Comédie,None,None
32201,Kanam,Amala Akkineni,Sharwanand,Ritu Varma,"3,1",NaN,150,"Drame,Science fiction",Inde,Long-métrage,...,None,None,None,Drame,Science fiction,None,None,None,None,None
13572,Brahmāstra: Part One – Shiva,Ranbir Kapoor,Alia Bhatt,Amitabh Bachchan,"3,1",NaN,167,"Aventure,Fantastique",Inde,Long-métrage,...,None,None,None,Aventure,Fantastique,None,None,None,None,None
35763,Oke Oka Jeevitham,Amala Akkineni,Sharwanand,Ritu Varma,NaN,NaN,150,"Drame,Science fiction",Inde,Long-métrage,...,None,None,None,Drame,Science fiction,None,None,None,None,None
1719,Le Bonheur des uns...,Vincent Cassel,Bérénice Bejo,Florence Foresti,"2,9","2,6",100,Comédie,"France,Belgique",Long-métrage,...,None,None,None,Comédie,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104744,Ceux qui ne s'envolent jamais,NaN,NaN,NaN,NaN,NaN,113,NaN,Yougoslavie,Long-métrage,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92559,Au pays de citron,NaN,NaN,NaN,NaN,NaN,52,NaN,France,Long-métrage,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92556,Le pays ou vivait la terre,NaN,NaN,NaN,NaN,NaN,94,NaN,France,Long-métrage,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92541,Antiromantika,NaN,NaN,NaN,NaN,NaN,0,NaN,kazakhstan,Long-métrage,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92478,Quatre cent cinquante,NaN,NaN,NaN,NaN,NaN,50,NaN,Argentine,Long-métrage,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [455]:
df['budget'] = df['budget'].replace('-', np.nan)

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\2469255567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget'] = df['budget'].replace('-', np.nan)

In [456]:
def convert_budget(budget):
    if pd.isna(budget):
        return np.nan
    budget = budget.replace('US$', '').replace('$', '').replace('SEK', '').replace('mi', '000000').replace(',', '').replace('.', '').strip()
    if 'mil' in budget:
        budget = budget.replace('mil', '000')
    budget = ''.join([c for c in budget if c.isdigit()])
    if not budget:
        return np.nan
    return int(budget)

df['budget_en_$'] = df['budget'].apply(convert_budget)

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\4208672149.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_en_$'] = df['budget'].apply(convert_budget)

In [457]:
def update_budget(budget):
    if pd.isna(budget):
        return np.nan
    if budget > 450000000:
        return 450000000
    if budget < 1000:
        return budget * 1000
    return budget

df['budget_en_$'] = df['budget_en_$'].apply(update_budget)

C:\Users\impej\AppData\Local\Temp\ipykernel_16068\3113785952.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_en_$'] = df['budget_en_$'].apply(update_budget)

In [458]:
cols = ['titre', 'acteur_1', 'acteur_2', 'acteur_3', 'note_presse', 'note_spectateur', 'duree', 'genre', 'pays', 'type', 'budget', 'budget_en_$', 'nominations', 'prix', 'description', 'date', 'annee_production', 'nb_pays_uniques', 'pays_1', 'pays_2', 'pays_3', 'pays_4', 'pays_5', 'pays_6', 'pays_7', 'genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7']
df = df.reindex(columns=cols)

In [459]:
df.to_csv("data/allocine_bronze.csv" , index=False)

In [460]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83948 entries, 0 to 92478
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             83948 non-null  object
 1   acteur_1          75803 non-null  object
 2   acteur_2          73214 non-null  object
 3   acteur_3          70465 non-null  object
 4   note_presse       55135 non-null  object
 5   note_spectateur   12223 non-null  object
 6   duree             83948 non-null  int32
 7   genre             49353 non-null  object
 8   pays              83948 non-null  object
 9   type              83948 non-null  object
 10  budget            7203 non-null   object
 11  budget_en_$       7202 non-null   float64
 12  nominations       83948 non-null  int64
 13  prix              83948 non-null  int64
 14  description       62868 non-null  object
 15  date              19880 non-null  object
 16  annee_production  83948 non-null  int32
 17  nb_pays_uniques   83948 non-null  int64
 18  pays_1            83948 non-null  object
 19  pays_2            13810 non-null  object
 20  pays_3            3984 non-null   object
 21  pays_4            1112 non-null   object
 22  pays_5            328 non-null    object
 23  pays_6            86 non-null     object
 24  pays_7            27 non-null     object
 25  genre_1           49353 non-null  object
 26  genre_2           21315 non-null  object
 27  genre_3           6422 non-null   object
 28  genre_4           882 non-null    object
 29  genre_5           143 non-null    object
 30  genre_6           33 non-null     object
 31  genre_7           6 non-null      object
dtypes: float64(1), int32(2), int64(3), object(26)
memory usage: 20.5+ MB