In [424]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("data/allocine.csv")
df1 = pd.read_csv("data/allocine_titre_entrees_gold.csv")

In [425]:
df1

                              Titre  Entrées_1ère_semaine
0         Avatar : la voie de l'eau               2739848
1              Le Processus de paix                 34918
2                The Lost City of Z                150045
3       Spider-Man : New Generation                218728
4                   Jeanne du Barry                356152
...                             ...                   ...
8586                         Triomf                   140
8587                       Property                   106
8588  Nocturnes pour le roi de Rome                   211
8589              Notes Laura Fiori                    14
8590          Hollywood, California                    83

[8591 rows x 2 columns]

In [426]:
df['annee_production'] = df['annee_production'].fillna(0).astype(int)
df['duree'] = df['duree'].fillna(0).astype(int)

In [427]:
# df1_sorted = df1.sort_values(by='Entrées_1ère_semaine', ascending=False)
# print(df1_sorted.head(50))

In [428]:
# Filtrer les films ayant pour titre "Carmen"
films_carmen = df.loc[df["titre"] == "Bienvenue chez les Ch'tis"]

# Afficher le résultat
print(films_carmen)

                         titre   acteur_1   acteur_2   acteur_3 réalisateur   \
664  Bienvenue chez les Ch'tis  Kad Merad  Dany Boon  Zoé Félix    Dany Boon

    distributeur  note_presse note_spectateur  duree    genre    pays  \
664        Pathé          3,6             3,1    106  Comédie  France

             type        budget  nominations  prix  \
664  Long-métrage  11 000 000 €            6    12

                                           description                 date  \
664  Philippe Abrams est directeur de la poste de S...  \n20 février 2008\n

     annee_production
664              2008

In [429]:
df

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production
0,Les Petites victoires,Michel Blanc,Julia Piaton,Lionel Abelanski,Mélanie Auffret,Zinc Film,"3,6","3,9",90,Comédie,France,Long-métrage,-,0,2,Entre ses obligations de maire et son rôle d'i...,\n1 mars 2023\n,2023
1,Je verrai toujours vos visages,Adèle Exarchopoulos,Dali Benssalah,Leïla Bekhti,Jeanne Herry,StudioCanal,"4,1","4,4",118,Drame,France,Long-métrage,-,0,0,"Depuis 2014, en France, la Justice Restaurativ...",\n29 mars 2023\n,2023
2,Tyler Rake 2,Chris Hemsworth,Golshifteh Farahani,Adam Bessa,Sam Hargrave,NaN,"3,5","3,7",122,"Action,Thriller",U.S.A.,Long-métrage,-,0,0,Après avoir miraculeusement survécu aux événem...,NaN,2023
3,Le Parfum vert,Sandrine Kiberlain,Vincent Lacoste,Rüdiger Vogler,Nicolas Pariser,Diaphana Distribution,"3,5","2,3",101,"Comédie,Policier",France,Long-métrage,7 M€,0,0,"En pleine représentation, un comédien de la Co...",\n21 décembre 2022\n,2022
4,Les Filles du Docteur March,Saoirse Ronan,Emma Watson,Florence Pugh,Greta Gerwig,Sony Pictures Releasing France,"3,7","3,8",135,"Romance,Drame",U.S.A.,Long-métrage,-,2,12,"Une nouvelle adaptation des ""Quatre filles du ...",\n1 janvier 2020\n,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112698,Prismo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0
112699,Le Feu de paille,Jeanne Fusier-Gir,Lucien Baroux,Orane Demazis,Jean Benoit-Levy,NaN,NaN,NaN,117,NaN,France,Long-métrage,-,0,0,"Antoine Vautier, acteur rate, souffre de voir ...",NaN,1939
112700,Meschugge,Maria Schrader,Dani Levy,David Strathairn,Dani Levy,NaN,"3,0",--,103,NaN,"Allemagne,U.S.A.,Suisse",Long-métrage,-,0,0,"Juive allemande vivant à New York, Lena rencon...",NaN,1998
112701,La Rose blanche,Loretta Young,Conrad Veidt,Dean Jagger (II),Gregory Ratoff,\n1 nomination\n,NaN,NaN,89,"Musical,Romance",U.S.A.,Long-métrage,-,0,0,Une artiste de cirque du XIXe siècle devient u...,NaN,1941
112702,Minotaur,Christine Jones,Anat Atzmon,Mili Avital,Jonathan Tammuz,NaN,"2,6",--,90,Thriller,"Grande-Bretagne,Israël",Long-métrage,-,0,0,Alex Abramov est un agent secret appartenant a...,NaN,1997

In [430]:
df1.rename(columns={'Titre': 'titre'}, inplace=True)

In [431]:
merged_df = pd.merge(df, df1, on='titre', how='inner')

In [432]:
merged_df

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production,Entrées_1ère_semaine
0,Les Petites victoires,Michel Blanc,Julia Piaton,Lionel Abelanski,Mélanie Auffret,Zinc Film,"3,6","3,9",90,Comédie,France,Long-métrage,-,0,2,Entre ses obligations de maire et son rôle d'i...,\n1 mars 2023\n,2023,250360
1,Je verrai toujours vos visages,Adèle Exarchopoulos,Dali Benssalah,Leïla Bekhti,Jeanne Herry,StudioCanal,"4,1","4,4",118,Drame,France,Long-métrage,-,0,0,"Depuis 2014, en France, la Justice Restaurativ...",\n29 mars 2023\n,2023,282292
2,Le Parfum vert,Sandrine Kiberlain,Vincent Lacoste,Rüdiger Vogler,Nicolas Pariser,Diaphana Distribution,"3,5","2,3",101,"Comédie,Policier",France,Long-métrage,7 M€,0,0,"En pleine représentation, un comédien de la Co...",\n21 décembre 2022\n,2022,80190
3,Les Filles du Docteur March,Saoirse Ronan,Emma Watson,Florence Pugh,Greta Gerwig,Sony Pictures Releasing France,"3,7","3,8",135,"Romance,Drame",U.S.A.,Long-métrage,-,2,12,"Une nouvelle adaptation des ""Quatre filles du ...",\n1 janvier 2020\n,2019,242663
4,La La Land,Ryan Gosling,Emma Stone,John Legend,Damien Chazelle,SND,"4,4","4,2",128,"Comédie musicale,Romance",U.S.A.,Long-métrage,-,24,21,"Au cœur de Los Angeles, une actrice en devenir...",\n25 janvier 2017\n,2016,754534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10308,L'Attente,NaN,NaN,NaN,Jahnu Barua,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,1982,9345
10309,Un été suédois,NaN,NaN,NaN,Ulf Malmros,NaN,"3,0",--,90,NaN,Suède,Long-métrage,-,0,0,Un croque-mort qui vit seul à la campagne ne s...,NaN,2000,1958
10310,"Hollywood, California",NaN,NaN,NaN,\n62 entrées\n,\n62 entrées\n,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0,83
10311,Retour de flamme,Roger Pigaut,Renée Saint-Cyr,José Noguéro,Henri Fescourt,NaN,"3,1",--,102,NaN,France,Long-métrage,-,0,0,Un jeune ingénieur invente en aéronautique inv...,NaN,1943,25319
10312,Sur la ligne,NaN,NaN,NaN,Marie Cogné,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,2005,4509

In [433]:
df = merged_df

In [434]:
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [titre, acteur_1, acteur_2, acteur_3, réalisateur , distributeur , note_presse, note_spectateur, duree, genre, pays, type, budget, nominations, prix, description, date, annee_production, Entrées_1ère_semaine]
Index: []

In [435]:
duplicates = df.duplicated(keep=False)
num_duplicates = duplicates.sum()
print(f"Nombre de colonnes en double: {num_duplicates}")

Nombre de colonnes en double: 0

In [436]:
df = df.drop_duplicates(keep='first')

In [437]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10313 entries, 0 to 10312
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 10313 non-null  object
 1   acteur_1              9848 non-null   object
 2   acteur_2              9778 non-null   object
 3   acteur_3              9670 non-null   object
 4   réalisateur           10242 non-null  object
 5   distributeur          8881 non-null   object
 6   note_presse           9654 non-null   object
 7   note_spectateur       9651 non-null   object
 8   duree                 10313 non-null  int32
 9   genre                 9359 non-null   object
 10  pays                  10081 non-null  object
 11  type                  10313 non-null  object
 12  budget                10313 non-null  object
 13  nominations           10313 non-null  int64
 14  prix                  10313 non-null  int64
 15  description           8883 non-null   object
 16  date                  8589 non-null   object
 17  annee_production      10313 non-null  int32
 18  Entrées_1ère_semaine  10313 non-null  int64
dtypes: int32(2), int64(3), object(14)
memory usage: 1.5+ MB

In [438]:
title_counts = df['titre'].value_counts()
print(title_counts)

Carmen                        15
Eden                          10
Brothers                      10
Inside                         9
Les Misérables                 9
                              ..
The Secret Man - Mark Felt     1
Les Portes de la gloire        1
Sex Doll                       1
Poly                           1
Sur la ligne                   1
Name: titre, Length: 8298, dtype: int64

In [439]:
df[df['titre'] =="Carmen"]

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production,Entrées_1ère_semaine
265,Carmen,Paul Mescal,Melissa Barrera,Rossy de Palma,Benjamin Millepied,Pathé,"2,5","3,4",116,"Drame,Romance","Australie,France",Long-métrage,-,0,0,"Carmen, une jeune mexicaine qui tente de trave...",\n14 juin 2023\n,2023,24397
266,Carmen,Julia Migenes,Plácido Domingo,Ruggero Raimondi,Francesco Rosi,Gaumont Distribution,"3,6",--,152,"Drame,Musical","Italie,France",Long-métrage,-,1,10,"A Séville, Carmen séduit le brigadier Don José...",NaN,1984,24397
267,Carmen,Antonio Gades,Laura del Sol,Paco de Lucía,Carlos Saura,Tamasa Distribution,"3,3",--,102,"Drame,Musical,Comédie musicale","Espagne,Italie",Long-métrage,-,2,12,NaN,\n24 août 1983\n,1983,24397
268,Carmen,Viviane Romance,Jean Marais,Lucien Coëdel,Christian-Jaque,NaN,"2,9",--,124,Drame,"France,Italie",Long-métrage,4 277 813 entrées,0,0,"La dramatique histoire d'amour de Carmen, une ...",\n10 février 1945\n,1945,24397
269,Carmen,Geraldine Farrar,Wallace Reid,Pedro de Cordoba,Cecil B. DeMille,NaN,"2,9",--,59,Drame,U.S.A.,Long-métrage,-,0,0,"A Séville, Carmen séduit le brigadier Don Jose...",NaN,1915,24397
270,Carmen,Béatrice Uria Monzon,Roberto Alagna,Erwin Schrottet,Calixto Bieito,Viva l'opéra,"3,2",--,160,Musical,NaN,Long-métrage,-,0,0,A Séville où Carmen travaille comme cigarière ...,\n7 juillet 2011\n,2010,24397
271,Carmen,Pola Negri,Harry Liedtke,Leopold von Ledebur,Ernst Lubitsch,NaN,"3,0",--,80,Drame,Allemagne,Long-métrage,-,0,0,"A Séville, Carmen séduit le brigadier Don Jose...",NaN,1918,24397
272,Carmen,Natascha McElhone,Michaela Farrugia,Steven Love,Valerie Buhagiar,NaN,NaN,NaN,88,NaN,"Malte,Canada",Long-métrage,-,0,0,"Dans les années 1980, au coeur d'un un petit v...",NaN,2022,24397
273,Carmen,Kevyn Diana,Vicky Luengo,Bernard Blancan,Jacques Malaterre,NaN,"2,5",--,0,NaN,France,Télefilm,2 000 000 €,0,0,Une libre adaptation du classique de Prosper M...,NaN,2010,24397
274,Carmen,Paz Vega,Leonardo Sbaraglia,NaN,Vicente Aranda,NaN,"3,6",--,0,NaN,Espagne,Long-métrage,-,0,0,Une nouvelle version de,NaN,2002,24397
275,Carmen,Natacha Régnier,James Thiérrée,Dominique Reymond,Jean-Pierre Limosin,Celluloïd Dreams,"2,8",--,100,NaN,France,Télefilm,-,0,0,Carmen fugue du centre de recherche sur le lan...,NaN,2005,24397
276,Carmen,Theda Bara,Einar Linden,Carl Harbaugh,Raoul Walsh,NaN,NaN,NaN,0,NaN,U.S.A.,Long-métrage,-,0,0,"A Séville, Carmen séduit le brigadier Don Jose...",NaN,1915,24397
277,Carmen,Christian Van Horn,Elina Garanca,Jonas Kaufmann,Lina Wertmüller,NaN,NaN,NaN,195,"Musical,Romance",Allemagne,Télefilm,-,0,0,NaN,NaN,2010,24397
278,Carmen,Jonas Kaufmann,Erwin Schrottet,Anita Rachvelishvili,Patrizia Carmine,NaN,"3,0",--,170,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,2009,24397
279,Carmen,Raquel Meller,Louis Lerch,Victor Vina,Jacques Feyder,NaN,"3,1",--,140,NaN,France,Long-métrage,-,0,0,"Maîtresse du contrebandier Garcia Le Borgne, C...",NaN,1925,24397

In [440]:
df = df.sort_values('annee_production', ascending=False).drop_duplicates(subset='titre', keep='first')

In [441]:
mask = ~df['date'].isna().any()
cols = df.columns[np.array(mask)]
print(cols)

[]

C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3641931187.py:2: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  cols = df.columns[np.array(mask)]

In [442]:
df = df.sort_values('date', ascending=False)
df

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production,Entrées_1ère_semaine
2252,La Daronne,Isabelle Huppert,Hippolyte Girardot,Liliane Rovère,Jean-Paul Salomé,Le Pacte,"3,0","3,0",106,"Policier,Comédie,Drame",France,Long-métrage,-,6,0,Patience Portefeux est interprète judiciaire f...,\n9 septembre 2020\n,2020,130560
8158,Un soupçon d'amour,Marianne Basler,Fabienne Babe,Jean-Philippe Puymartin,Paul Vecchiali,Epicentre Films,"3,6","2,3",92,Drame,France,Long-métrage,-,0,0,"Geneviève Garland, une célèbre comédienne, rép...",\n9 septembre 2020\n,2020,2317
8554,Sole,Sandra Drzymalska,Claudio Segaluscio,Barbara Ronchi,Carlo Sironi,Les Valseurs,"3,2","3,6",100,Drame,"Italie,Pologne",Long-métrage,-,0,0,Le jeune Ermanno vit dans une Italie sans futu...,\n9 septembre 2020\n,2019,4196
1351,Remember Me,Bruce Dern,Caroline Silhol,Brian Cox,Martín Rosete,Alba Films,"2,5","2,8",81,"Romance,Comédie","U.S.A.,France,Espagne",Long-métrage,-,0,0,"Claude est septuagénaire, veuf et critique de ...",\n9 septembre 2020\n,2019,4737
9236,Les Nouvelles Aventures De Rita Et Machin,Célia Asensio,Tangi Simon,Nolwenn Korbell,Pon Kozutsumi,Eurozoom,"3,1","3,0",45,Animation,"France,Japon",Long-métrage,-,0,0,"Après Les Aventures de Rita & Machin, découvre...",\n9 septembre 2020\n,2019,5015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9714,Une Histoire d'amour,Louis Jouvet,Daniel Gélin,Dany Robin,Guy Lefranc,NaN,"3,8",--,99,Comédie dramatique,France,Long-métrage,-,0,0,Dans un terrain vague sont decouverts les corp...,NaN,1951,26209
10311,Retour de flamme,Roger Pigaut,Renée Saint-Cyr,José Noguéro,Henri Fescourt,NaN,"3,1",--,102,NaN,France,Long-métrage,-,0,0,Un jeune ingénieur invente en aéronautique inv...,NaN,1943,25319
10299,Memory Lane,Conrad Nagel,Eleanor Boardman,William Haines,John M. Stahl,NaN,"3,0",--,80,NaN,U.S.A.,Long-métrage,-,0,0,"Negligeant Joe, son fiance parti faire fortune...",NaN,1926,6213
10286,Oppression,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0,56727
10310,"Hollywood, California",NaN,NaN,NaN,\n62 entrées\n,\n62 entrées\n,NaN,NaN,0,NaN,NaN,Long-métrage,-,0,0,NaN,NaN,0,83

In [443]:
df['note_spectateur'] = df['note_spectateur'].replace('--', np.nan)
df['note_presse'] = df['note_presse'].replace('--', np.nan)

df.head()

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,note_spectateur,duree,genre,pays,type,budget,nominations,prix,description,date,annee_production,Entrées_1ère_semaine
2252,La Daronne,Isabelle Huppert,Hippolyte Girardot,Liliane Rovère,Jean-Paul Salomé,Le Pacte,"3,0","3,0",106,"Policier,Comédie,Drame",France,Long-métrage,-,6,0,Patience Portefeux est interprète judiciaire f...,\n9 septembre 2020\n,2020,130560
8158,Un soupçon d'amour,Marianne Basler,Fabienne Babe,Jean-Philippe Puymartin,Paul Vecchiali,Epicentre Films,"3,6","2,3",92,Drame,France,Long-métrage,-,0,0,"Geneviève Garland, une célèbre comédienne, rép...",\n9 septembre 2020\n,2020,2317
8554,Sole,Sandra Drzymalska,Claudio Segaluscio,Barbara Ronchi,Carlo Sironi,Les Valseurs,"3,2","3,6",100,Drame,"Italie,Pologne",Long-métrage,-,0,0,Le jeune Ermanno vit dans une Italie sans futu...,\n9 septembre 2020\n,2019,4196
1351,Remember Me,Bruce Dern,Caroline Silhol,Brian Cox,Martín Rosete,Alba Films,"2,5","2,8",81,"Romance,Comédie","U.S.A.,France,Espagne",Long-métrage,-,0,0,"Claude est septuagénaire, veuf et critique de ...",\n9 septembre 2020\n,2019,4737
9236,Les Nouvelles Aventures De Rita Et Machin,Célia Asensio,Tangi Simon,Nolwenn Korbell,Pon Kozutsumi,Eurozoom,"3,1","3,0",45,Animation,"France,Japon",Long-métrage,-,0,0,"Après Les Aventures de Rita & Machin, découvre...",\n9 septembre 2020\n,2019,5015

In [444]:
mask = df['note_presse'].fillna('').str.contains('--')
result = df[mask]
result

Empty DataFrame
Columns: [titre, acteur_1, acteur_2, acteur_3, réalisateur , distributeur , note_presse, note_spectateur, duree, genre, pays, type, budget, nominations, prix, description, date, annee_production, Entrées_1ère_semaine]
Index: []

In [445]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8298 entries, 2252 to 10310
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8298 non-null   object
 1   acteur_1              8082 non-null   object
 2   acteur_2              8050 non-null   object
 3   acteur_3              7992 non-null   object
 4   réalisateur           8284 non-null   object
 5   distributeur          7988 non-null   object
 6   note_presse           8053 non-null   object
 7   note_spectateur       7584 non-null   object
 8   duree                 8298 non-null   int32
 9   genre                 8080 non-null   object
 10  pays                  8276 non-null   object
 11  type                  8298 non-null   object
 12  budget                8298 non-null   object
 13  nominations           8298 non-null   int64
 14  prix                  8298 non-null   int64
 15  description           7382 non-null   object
 16  date                  7826 non-null   object
 17  annee_production      8298 non-null   int32
 18  Entrées_1ère_semaine  8298 non-null   int64
dtypes: int32(2), int64(3), object(14)
memory usage: 1.2+ MB

In [446]:
# Fonction pour compter les pays différents
def count_unique_countries(row):
    if isinstance(row, str):  # Vérifier si la valeur est une chaîne de caractères (non NaN)
        countries_list = row.split(",")  # Séparer les pays par la virgule pour obtenir une liste
        unique_countries = set([country.strip() for country in countries_list])  # Supprimer les espaces et créer un ensemble de pays uniques
        return len(unique_countries)  # Renvoyer le nombre de pays uniques
    else:
        return 0  # Renvoyer 0 pour les valeurs NaN

# Appliquer la fonction sur la colonne "pays" et créer une nouvelle colonne "nb_pays_uniques"
df['nb_pays_uniques'] = df['pays'].apply(count_unique_countries)

# Trouver la ligne qui a le plus de pays différents
max_unique_countries_row = df.loc[df['nb_pays_uniques'].idxmax()]

# Afficher les informations sur la ligne ayant le plus de pays différents
# print("Ligne avec le plus de pays différents :")
max_unique_countries_row

# # Afficher le nombre de pays différents pour cette ligne
# print("Nombre de pays différents :", max_unique_countries_row['nb_pays_uniques'])

titre                                                      La Voix d'Aida
acteur_1                                                   Jasna Djuricic
acteur_2                                                  Izudin Bajrovic
acteur_3                                                        Boris Ler
réalisateur                                                Jasmila Žbanić
distributeur                                         Condor Distribution
note_presse                                                           3,8
note_spectateur                                                       4,2
duree                                                                 104
genre                                             Drame,Guerre,Historique
pays                    Bosnie-Herzégovine,Allemagne,France,Autriche,R...
type                                                         Long-métrage
budget                                                                  -
nominations                                                             3
prix                                                                    3
description             Srebrenica, juillet 1995. Modeste professeure ...
date                                                \n22 septembre 2021\n
annee_production                                                     2020
Entrées_1ère_semaine                                                17087
nb_pays_uniques                                                         9
Name: 2165, dtype: object

In [447]:
counts = df['pays'].str.count(',').add(1).value_counts()
print(counts)

1.0    5687
2.0    1563
3.0     674
4.0     245
5.0      76
6.0      18
7.0       8
8.0       3
9.0       2
Name: pays, dtype: int64

In [448]:
mask = df['pays'].str.count(',') <= 6
df = df[mask]

In [449]:
num_cols = df['pays'].str.count(',').max() + 1
col_names = [f'pays_{i+1}' for i in range(num_cols)]
df[col_names] = df['pays'].str.split(',', expand=True)

C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3885189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['pays'].str.split(',', expand=True)

In [450]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8271 entries, 2252 to 10299
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8271 non-null   object
 1   acteur_1              8072 non-null   object
 2   acteur_2              8040 non-null   object
 3   acteur_3              7982 non-null   object
 4   réalisateur           8261 non-null   object
 5   distributeur          7977 non-null   object
 6   note_presse           8040 non-null   object
 7   note_spectateur       7576 non-null   object
 8   duree                 8271 non-null   int32
 9   genre                 8070 non-null   object
 10  pays                  8271 non-null   object
 11  type                  8271 non-null   object
 12  budget                8271 non-null   object
 13  nominations           8271 non-null   int64
 14  prix                  8271 non-null   int64
 15  description           7369 non-null   object
 16  date                  7816 non-null   object
 17  annee_production      8271 non-null   int32
 18  Entrées_1ère_semaine  8271 non-null   int64
 19  nb_pays_uniques       8271 non-null   int64
 20  pays_1                8271 non-null   object
 21  pays_2                2584 non-null   object
 22  pays_3                1021 non-null   object
 23  pays_4                347 non-null    object
 24  pays_5                102 non-null    object
 25  pays_6                26 non-null     object
 26  pays_7                8 non-null      object
dtypes: int32(2), int64(4), object(21)
memory usage: 1.7+ MB

In [451]:
num_cols = df['genre'].fillna('').str.count(',').max() + 1
col_names = [f'genre_{i+1}' for i in range(int(num_cols))]
df[col_names] = df['genre'].str.split(',', expand=True)

C:\Users\impej\AppData\Local\Temp\ipykernel_14484\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_14484\651905598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_names] = df['genre'].str.split(',', expand=True)

In [452]:
# Fonction pour nettoyer les dates
def clean_date(date_str):
    if isinstance(date_str, float):  # Ignorer les valeurs de type float
        return None
    date_str = date_str.strip()  # Enlever les espaces au début et à la fin
    date_str = date_str.replace(',', '') 
    date_str = date_str.replace('\n', '')  # Enlever les virgules et sauts de ligne
    
    # Trouver l'année en dehors de la première occurrence de la date
    year_pos = date_str.find('\t')
    if year_pos != -1:
        year_str = date_str[year_pos + 1:]  # Extraire l'année
        date_str = date_str[:year_pos]  # Garder seulement la première occurrence de la date
    else:
        year_str = ''
    
    # Vérifier si la date est bien formatée avec trois parties : jour, mois et année
    parts = date_str.split()
    if len(parts) != 3:
        return None  # Retourner None si la date n'est pas bien formatée
    
    day, month, year = parts  # Séparer le jour, le mois et l'année
    month_dict = {
        'janvier': '01',
        'février': '02',
        'mars': '03',
        'avril': '04',
        'mai': '05',
        'juin': '06',
        'juillet': '07',
        'août': '08',
        'septembre': '09',
        'octobre': '10',
        'novembre': '11',
        'décembre': '12'
    }
    # Formater la date avec des zéros pour le jour et le mois si nécessaire
    day = day.zfill(2)
    month = month_dict.get(month.lower(), '00')  # Utiliser '00' si le mois n'est pas valide
    return f"{day}-{month}-{year}{year_str}"

In [453]:
df['date'] = df['date'].apply(clean_date)

C:\Users\impej\AppData\Local\Temp\ipykernel_14484\1379128457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].apply(clean_date)

In [454]:
df

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,note_spectateur,duree,genre,...,pays_5,pays_6,pays_7,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7
2252,La Daronne,Isabelle Huppert,Hippolyte Girardot,Liliane Rovère,Jean-Paul Salomé,Le Pacte,"3,0","3,0",106,"Policier,Comédie,Drame",...,None,None,None,Policier,Comédie,Drame,None,None,None,None
8158,Un soupçon d'amour,Marianne Basler,Fabienne Babe,Jean-Philippe Puymartin,Paul Vecchiali,Epicentre Films,"3,6","2,3",92,Drame,...,None,None,None,Drame,None,None,None,None,None,None
8554,Sole,Sandra Drzymalska,Claudio Segaluscio,Barbara Ronchi,Carlo Sironi,Les Valseurs,"3,2","3,6",100,Drame,...,None,None,None,Drame,None,None,None,None,None,None
1351,Remember Me,Bruce Dern,Caroline Silhol,Brian Cox,Martín Rosete,Alba Films,"2,5","2,8",81,"Romance,Comédie",...,None,None,None,Romance,Comédie,None,None,None,None,None
9236,Les Nouvelles Aventures De Rita Et Machin,Célia Asensio,Tangi Simon,Nolwenn Korbell,Pon Kozutsumi,Eurozoom,"3,1","3,0",45,Animation,...,None,None,None,Animation,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10275,Orage,Raf Vallone,Françoise Arnoul,NaN,Pierre Billon,NaN,"3,0",NaN,100,Comédie,...,None,None,None,Comédie,None,None,None,None,None,None
10296,La Jungle,Rod Cameron,Cesar Romero,Marie Windsor,William Berke,NaN,"3,2",NaN,73,"Drame,Fantastique",...,None,None,None,Drame,Fantastique,None,None,None,None,None
9714,Une Histoire d'amour,Louis Jouvet,Daniel Gélin,Dany Robin,Guy Lefranc,NaN,"3,8",NaN,99,Comédie dramatique,...,None,None,None,Comédie dramatique,None,None,None,None,None,None
10311,Retour de flamme,Roger Pigaut,Renée Saint-Cyr,José Noguéro,Henri Fescourt,NaN,"3,1",NaN,102,NaN,...,None,None,None,NaN,NaN,None,None,None,None,None
10299,Memory Lane,Conrad Nagel,Eleanor Boardman,William Haines,John M. Stahl,NaN,"3,0",NaN,80,NaN,...,None,None,None,NaN,NaN,None,None,None,None,None

In [455]:
df['budget'] = df['budget'].replace('-', np.nan)

C:\Users\impej\AppData\Local\Temp\ipykernel_14484\2469255567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget'] = df['budget'].replace('-', np.nan)

In [456]:
def convert_budget(budget):
    if pd.isna(budget):
        return np.nan
    budget = budget.replace('US$', '').replace('$', '').replace('SEK', '').replace('mi', '000000').replace(',', '').replace('.', '').strip()
    if 'mil' in budget:
        budget = budget.replace('mil', '000')
    budget = ''.join([c for c in budget if c.isdigit()])
    if not budget:
        return np.nan
    return int(budget)

df['budget_en_$'] = df['budget'].apply(convert_budget)

C:\Users\impej\AppData\Local\Temp\ipykernel_14484\4208672149.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_en_$'] = df['budget'].apply(convert_budget)

In [457]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8271 entries, 2252 to 10299
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8271 non-null   object
 1   acteur_1              8072 non-null   object
 2   acteur_2              8040 non-null   object
 3   acteur_3              7982 non-null   object
 4   réalisateur           8261 non-null   object
 5   distributeur          7977 non-null   object
 6   note_presse           8040 non-null   object
 7   note_spectateur       7576 non-null   object
 8   duree                 8271 non-null   int32
 9   genre                 8070 non-null   object
 10  pays                  8271 non-null   object
 11  type                  8271 non-null   object
 12  budget                2545 non-null   object
 13  nominations           8271 non-null   int64
 14  prix                  8271 non-null   int64
 15  description           7369 non-null   object
 16  date                  7816 non-null   object
 17  annee_production      8271 non-null   int32
 18  Entrées_1ère_semaine  8271 non-null   int64
 19  nb_pays_uniques       8271 non-null   int64
 20  pays_1                8271 non-null   object
 21  pays_2                2584 non-null   object
 22  pays_3                1021 non-null   object
 23  pays_4                347 non-null    object
 24  pays_5                102 non-null    object
 25  pays_6                26 non-null     object
 26  pays_7                8 non-null      object
 27  genre_1               8070 non-null   object
 28  genre_2               4138 non-null   object
 29  genre_3               1418 non-null   object
 30  genre_4               176 non-null    object
 31  genre_5               17 non-null     object
 32  genre_6               2 non-null      object
 33  genre_7               1 non-null      object
 34  budget_en_$           2545 non-null   float64
dtypes: float64(1), int32(2), int64(4), object(28)
memory usage: 2.2+ MB

In [458]:
def update_budget(budget):
    if pd.isna(budget):
        return np.nan
    if budget > 450000000:
        return 450000000
    if budget < 1000:
        return budget * 1000
    return budget

df['budget_en_$'] = df['budget_en_$'].apply(update_budget)

C:\Users\impej\AppData\Local\Temp\ipykernel_14484\3113785952.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_en_$'] = df['budget_en_$'].apply(update_budget)

In [459]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8271 entries, 2252 to 10299
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8271 non-null   object
 1   acteur_1              8072 non-null   object
 2   acteur_2              8040 non-null   object
 3   acteur_3              7982 non-null   object
 4   réalisateur           8261 non-null   object
 5   distributeur          7977 non-null   object
 6   note_presse           8040 non-null   object
 7   note_spectateur       7576 non-null   object
 8   duree                 8271 non-null   int32
 9   genre                 8070 non-null   object
 10  pays                  8271 non-null   object
 11  type                  8271 non-null   object
 12  budget                2545 non-null   object
 13  nominations           8271 non-null   int64
 14  prix                  8271 non-null   int64
 15  description           7369 non-null   object
 16  date                  7816 non-null   object
 17  annee_production      8271 non-null   int32
 18  Entrées_1ère_semaine  8271 non-null   int64
 19  nb_pays_uniques       8271 non-null   int64
 20  pays_1                8271 non-null   object
 21  pays_2                2584 non-null   object
 22  pays_3                1021 non-null   object
 23  pays_4                347 non-null    object
 24  pays_5                102 non-null    object
 25  pays_6                26 non-null     object
 26  pays_7                8 non-null      object
 27  genre_1               8070 non-null   object
 28  genre_2               4138 non-null   object
 29  genre_3               1418 non-null   object
 30  genre_4               176 non-null    object
 31  genre_5               17 non-null     object
 32  genre_6               2 non-null      object
 33  genre_7               1 non-null      object
 34  budget_en_$           2545 non-null   float64
dtypes: float64(1), int32(2), int64(4), object(28)
memory usage: 2.2+ MB

In [460]:
# cols = ['titre', 'Entrées_1ère_semaine', 'acteur_1', 'acteur_2', 'acteur_3',"réalisateur",	"distributeur", 'note_presse', 'note_spectateur', 'duree', 'genre', 'pays', 'type', 'budget', 'budget_en_$', 'nominations', 'prix', 'description', 'date', 'annee_production', 'nb_pays_uniques', 'pays_1', 'pays_2', 'pays_3', 'pays_4', 'pays_5', 'pays_6', 'pays_7', 'genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7']
# df = df.reindex(columns=cols)

In [461]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8271 entries, 2252 to 10299
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8271 non-null   object
 1   acteur_1              8072 non-null   object
 2   acteur_2              8040 non-null   object
 3   acteur_3              7982 non-null   object
 4   réalisateur           8261 non-null   object
 5   distributeur          7977 non-null   object
 6   note_presse           8040 non-null   object
 7   note_spectateur       7576 non-null   object
 8   duree                 8271 non-null   int32
 9   genre                 8070 non-null   object
 10  pays                  8271 non-null   object
 11  type                  8271 non-null   object
 12  budget                2545 non-null   object
 13  nominations           8271 non-null   int64
 14  prix                  8271 non-null   int64
 15  description           7369 non-null   object
 16  date                  7816 non-null   object
 17  annee_production      8271 non-null   int32
 18  Entrées_1ère_semaine  8271 non-null   int64
 19  nb_pays_uniques       8271 non-null   int64
 20  pays_1                8271 non-null   object
 21  pays_2                2584 non-null   object
 22  pays_3                1021 non-null   object
 23  pays_4                347 non-null    object
 24  pays_5                102 non-null    object
 25  pays_6                26 non-null     object
 26  pays_7                8 non-null      object
 27  genre_1               8070 non-null   object
 28  genre_2               4138 non-null   object
 29  genre_3               1418 non-null   object
 30  genre_4               176 non-null    object
 31  genre_5               17 non-null     object
 32  genre_6               2 non-null      object
 33  genre_7               1 non-null      object
 34  budget_en_$           2545 non-null   float64
dtypes: float64(1), int32(2), int64(4), object(28)
memory usage: 2.2+ MB

In [462]:
df = df.drop(columns=['pays_2', 'pays_3', 'pays_4', 'pays_5', 'pays_6', 'pays_7',  'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7' , 'pays' ,  'genre', 'budget'])

In [463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8271 entries, 2252 to 10299
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8271 non-null   object
 1   acteur_1              8072 non-null   object
 2   acteur_2              8040 non-null   object
 3   acteur_3              7982 non-null   object
 4   réalisateur           8261 non-null   object
 5   distributeur          7977 non-null   object
 6   note_presse           8040 non-null   object
 7   note_spectateur       7576 non-null   object
 8   duree                 8271 non-null   int32
 9   type                  8271 non-null   object
 10  nominations           8271 non-null   int64
 11  prix                  8271 non-null   int64
 12  description           7369 non-null   object
 13  date                  7816 non-null   object
 14  annee_production      8271 non-null   int32
 15  Entrées_1ère_semaine  8271 non-null   int64
 16  nb_pays_uniques       8271 non-null   int64
 17  pays_1                8271 non-null   object
 18  genre_1               8070 non-null   object
 19  budget_en_$           2545 non-null   float64
dtypes: float64(1), int32(2), int64(4), object(13)
memory usage: 1.3+ MB

In [464]:
df.to_csv("data/allocine_bronze.csv" , index=False)

In [465]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8271 entries, 2252 to 10299
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8271 non-null   object
 1   acteur_1              8072 non-null   object
 2   acteur_2              8040 non-null   object
 3   acteur_3              7982 non-null   object
 4   réalisateur           8261 non-null   object
 5   distributeur          7977 non-null   object
 6   note_presse           8040 non-null   object
 7   note_spectateur       7576 non-null   object
 8   duree                 8271 non-null   int32
 9   type                  8271 non-null   object
 10  nominations           8271 non-null   int64
 11  prix                  8271 non-null   int64
 12  description           7369 non-null   object
 13  date                  7816 non-null   object
 14  annee_production      8271 non-null   int32
 15  Entrées_1ère_semaine  8271 non-null   int64
 16  nb_pays_uniques       8271 non-null   int64
 17  pays_1                8271 non-null   object
 18  genre_1               8070 non-null   object
 19  budget_en_$           2545 non-null   float64
dtypes: float64(1), int32(2), int64(4), object(13)
memory usage: 1.3+ MB