# Imports

In [87]:
import pandas as pd

# df

In [88]:
df = pd.read_csv('cinecomedies_scraper/cinecomedies_scraper/cinecomedies_box_office.csv')

In [89]:
df

                                              Titre  Entrées  Semaines
0              qu’est-ce qu’on a fait au bon dieu ?  1680249         1
1                                       babysitting   543729         1
2                                    need for speed   255242         1
3     the amazing spider-man : le destin d’un héros  1249001         1
4                                          barbecue   647797         1
...                                             ...      ...       ...
1332                       insidious : the red door   306107         1
1333           astérix & obélix : mission cléôpâtre   183334         1
1334                                        yo mama    78717         1
1335   mission impossible – dead reckoning partie 1   930141         1
1336                              les algues vertes   125566         1

[1337 rows x 3 columns]

In [90]:
df = df.drop_duplicates()

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1336
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Titre     1195 non-null   object
 1   Entrées   1337 non-null   int64
 2   Semaines  1337 non-null   int64
dtypes: int64(2), object(1)
memory usage: 41.8+ KB

In [92]:
df['Titre'].value_counts()

joker                                   2
qu’est-ce qu’on a fait au bon dieu ?    1
en avant                                1
nous les chiens                         1
filles de joie                          1
                                       ..
sleepless                               1
la tour sombre                          1
annabelle 2 : la création du mal        1
cars 3                                  1
les algues vertes                       1
Name: Titre, Length: 1194, dtype: int64

In [93]:
df['Titre'].isna().sum()

142

In [94]:
df[df['Titre'].isna()]

     Titre  Entrées  Semaines
62     NaN   177913         1
65     NaN   147054         1
71     NaN   160365         1
73     NaN   128410         1
78     NaN   226546         1
...    ...      ...       ...
1196   NaN   147188         1
1200   NaN   119790         1
1258   NaN   101291         1
1319   NaN    95610         1
1329   NaN    91786         1

[142 rows x 3 columns]

In [95]:
df = df[['Titre', 'Entrées']]

In [96]:
df = df.dropna()

In [97]:
df

                                              Titre  Entrées
0              qu’est-ce qu’on a fait au bon dieu ?  1680249
1                                       babysitting   543729
2                                    need for speed   255242
3     the amazing spider-man : le destin d’un héros  1249001
4                                          barbecue   647797
...                                             ...      ...
1332                       insidious : the red door   306107
1333           astérix & obélix : mission cléôpâtre   183334
1334                                        yo mama    78717
1335   mission impossible – dead reckoning partie 1   930141
1336                              les algues vertes   125566

[1195 rows x 2 columns]

# df1

In [98]:
df1 = pd.read_csv('data/gold_senscritique.csv')

In [99]:
df1

,titre,sortie_france,entree,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,annee
0,en pleine tempête,9 août 2000,1403086.0,547204,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,2000
1,escrocs mais pas trop,6 décembre 2000,1038868.0,405159,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,2000
2,le prince du pacifique,20 décembre 2000,1028773.0,401221,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,2000
3,billy elliot,20 décembre 2000,2514645.0,980712,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,2000
4,hollow man - l'homme sans ombre,20 septembre 2000,1512638.0,589929,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,nevada,19 juin 2019,174181.0,67931,Matthias Schoenaerts,Jason Mitchell,Bruce Dern,96.0,Laure de Clermont-Tonnerre,Drame,Drame,Drame,6.7,NaN,NaN,France,2019
3982,"black snake, la légende du serpent noir",20 février 2019,174422.0,68025,Thomas N'Gijol,Karole Rocher,Michel Gohou,82.0,Thomas N'Gijol,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2019
3983,perdrix,14 août 2019,143672.0,56032,Swann Arlaud,Maud Wyler,Fanny Ardant,99.0,Erwan Le Duc,Comédie,Comédie,Comédie,6.6,NaN,NaN,France,2019
3984,la vérité si je mens ! les débuts,16 octobre 2019,193815.0,75588,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019
3985,j’veux du soleil,3 avril 2019,185795.0,72460,François Ruffin,Jean-Michel Aphatie,Christophe Barbier,80.0,François Ruffin,NaN,NaN,NaN,6.8,NaN,NaN,NaN,2019

In [100]:
nouveau_nom_des_colonnes = {
    'titre': 'Titre',
    'entree': 'Entrée_totales',
    'annee': 'Année'
}

# Utiliser la méthode "rename" pour renommer les colonnes
df1.rename(columns=nouveau_nom_des_colonnes, inplace=True)

In [101]:
df1

,Titre,sortie_france,Entrée_totales,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année
0,en pleine tempête,9 août 2000,1403086.0,547204,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,2000
1,escrocs mais pas trop,6 décembre 2000,1038868.0,405159,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,2000
2,le prince du pacifique,20 décembre 2000,1028773.0,401221,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,2000
3,billy elliot,20 décembre 2000,2514645.0,980712,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,2000
4,hollow man - l'homme sans ombre,20 septembre 2000,1512638.0,589929,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,nevada,19 juin 2019,174181.0,67931,Matthias Schoenaerts,Jason Mitchell,Bruce Dern,96.0,Laure de Clermont-Tonnerre,Drame,Drame,Drame,6.7,NaN,NaN,France,2019
3982,"black snake, la légende du serpent noir",20 février 2019,174422.0,68025,Thomas N'Gijol,Karole Rocher,Michel Gohou,82.0,Thomas N'Gijol,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2019
3983,perdrix,14 août 2019,143672.0,56032,Swann Arlaud,Maud Wyler,Fanny Ardant,99.0,Erwan Le Duc,Comédie,Comédie,Comédie,6.6,NaN,NaN,France,2019
3984,la vérité si je mens ! les débuts,16 octobre 2019,193815.0,75588,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019
3985,j’veux du soleil,3 avril 2019,185795.0,72460,François Ruffin,Jean-Michel Aphatie,Christophe Barbier,80.0,François Ruffin,NaN,NaN,NaN,6.8,NaN,NaN,NaN,2019

In [102]:
df1[df1['Titre']== 'babysitting']

,Titre,sortie_france,Entrée_totales,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année
788,babysitting,16 avril 2014,2358733.0,919906,Philippe Lacheau,Alice David,Vincent Desagnat,85.0,Nicolas Benamou,Comédie,Comédie,Comédie,5.6,Babysitting,NaN,France,2014

In [103]:
df[df['Titre']== 'babysitting']

         Titre  Entrées
1  babysitting   543729

In [104]:
df["Titre"] = df["Titre"].str.replace("avatar : la voie de l’eau", "avatar - la voie de l'eau")

# df2

In [105]:
df2= pd.merge(df, df1, on='Titre', how='inner')

In [106]:
df2

,Titre,Entrées,sortie_france,Entrée_totales,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année
0,babysitting,543729,16 avril 2014,2358733.0,919906,Philippe Lacheau,Alice David,Vincent Desagnat,85.0,Nicolas Benamou,Comédie,Comédie,Comédie,5.6,Babysitting,NaN,France,2014
1,barbecue,647797,30 avril 2014,1600584.0,624228,Lambert Wilson,Franck Dubosc,Florence Foresti,98.0,Éric Lavaine,Comédie,Comédie,Comédie,5.0,Barbecue,NaN,France,2014
2,pas son genre,124082,30 avril 2014,345107.0,134592,Émilie Dequenne,Loïc Corbery,Nkaké,111.0,Lucas Belvaux,Romance,Comédie,Romance,5.8,Pas son genre,NaN,France,2014
3,godzilla,720996,14 mai 2014,1361689.0,531059,Aaron Taylor-Johnson,Ken Watanabe,Bryan Cranston,123.0,Gareth Edwards,Action,Aventure,Science-fiction,5.3,Godzilla,MonsterVerse,États-Unis,2014
4,grace de monaco,152404,14 mai 2014,286956.0,111913,Nicole Kidman,Tim Roth,Frank Langella,103.0,Olivier Dahan,Biopic,Drame,Biopic,4.5,NaN,NaN,France,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,the flash,388700,14 juin 2023,838501.0,327015,Ezra Miller,Michael Keaton,Sasha Calle,144.0,Andy Muschietti,Action,Aventure,Fantastique,5.0,The Flash,DC Extended Universe,États-Unis,2023
724,élémentaire,426818,21 juin 2023,1659012.0,647015,Leah Lewis,Adèle Exarchopoulos,Mamoudou Athie,102.0,Peter Sohn,Animation,Aventure,Comédie,6.6,Pixar,NaN,États-Unis,2023
725,asteroid city,117498,21 juin 2023,294235.0,114752,Jason Schwartzman,Scarlett Johansson,Tom Hanks,104.0,Wes Anderson,Comédie dramatique,Science-fiction,Comédie dramatique,6.2,NaN,NaN,États-Unis,2023
726,indiana jones et le cadran de la destinée,1089875,28 juin 2023,2039369.0,795354,Harrison Ford,Phoebe Waller-Bridge,Mads Mikkelsen,154.0,James Mangold,Action,Aventure,Action,5.9,Indiana Jones,NaN,États-Unis,2023
727,les vengeances de maître poutifard,180735,28 juin 2023,360119.0,140446,Christian Clavier,Isabelle Nanty,Jennie Anne Walker,87.0,Pierre-François Martin-Laval,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2023

In [107]:
# Sélectionner les lignes contenant l'un des mots spécifiés dans la colonne "Titre"
selected_rows = df1[df1["Titre"].str.contains(r"les 4 fantastiques|coco|robin des bois|la belle et la bête|avatar")]

# Afficher les lignes sélectionnées
print(selected_rows)

                                         Titre     sortie_france  \
222                         les 4 fantastiques   20 juillet 2005
302   les 4 fantastiques et le surfer d'argent       8 août 2007
373                          coco avant chanel     22 avril 2009
404                                     avatar  16 décembre 2009
407                                       coco      18 mars 2009
474                      robin des bois - 2010       12 mai 2010
688                 la belle et la bête - 2014   12 février 2014
754                  les 4 fantastiques reboot       5 août 2015
763     robin des bois : la véritable histoire     15 avril 2015
957                 la belle et la bête - 2017      22 mars 2017
977                                coco disney  29 novembre 2017
1104                     robin des bois - 2018  28 novembre 2018
1797                 avatar - la voie de l'eau  14 décembre 2022
2731            coco chanel et igor stravinsky  30 décembre 2009

      Entrée_totales  1er_semaine_estimation          acteur_1  \
222        2223838.0                  867297     Ioan Gruffudd
302        1671715.0                  651969     Ioan Gruffudd
373        1030096.0                  401737     Audrey Tautou
404       14677888.0                 5724376   Sam Worthington
407        3008677.0                 1173384       Gad Elmaleh
474        2385387.0                  930301     Russell Crowe
688        1827336.0                  712661    Vincent Cassel
754        1204000.0                  469560      Miles Teller
763         521000.0                  203190       Max Boublil
957        3566931.0                 1391103       Emma Watson
977        4366449.0                 1702915  Anthony Gonzalez
1104        363926.0                  141931     Taron Egerton
1797      14000537.0                 5460209   Sam Worthington
2731        132159.0                   51542    Anna Mouglalis

                acteur_2           acteur_3  duree       realisateur  \
222          Chris Evans       Jessica Alba  106.0         Tim Story
302         Jessica Alba        Chris Evans   92.0         Tim Story
373    Benoît Poelvoorde  Alessandro Nivola  105.0     Anne Fontaine
404          Zoe Saldaña   Sigourney Weaver  162.0     James Cameron
407     Pascale Arbillot     Jean Benguigui  105.0       Gad Elmaleh
474       Cate Blanchett      Max von Sydow  140.0      Ridley Scott
688          Léa Seydoux   André Dussollier  112.0   Christophe Gans
754            Kate Mara  Michael B. Jordan  100.0        Josh Trank
763       Malik Bentalha  Géraldine Nakache   87.0  Anthony Marciano
957          Dan Stevens         Luke Evans  130.0       Bill Condon
977   Gael García Bernal     Benjamin Bratt  105.0       Lee Unkrich
1104          Jamie Foxx     Ben Mendelsohn  116.0     Otto Bathurst
1797         Zoe Saldaña   Sigourney Weaver  192.0     James Cameron
2731      Mads Mikkelsen     Elena Morozova  119.0        Jan Kounen

          genre_1           genre_2          genre_3  note_film  \
222        Action          Aventure      Fantastique        4.4
302        Action       Fantastique  Science-fiction        4.0
373        Biopic             Drame           Biopic        5.8
404        Action          Aventure  Science-fiction        6.4
407       Comédie             Drame          Comédie        2.8
474        Action          Aventure            Drame        5.4
688   Fantastique           Romance         Thriller        4.9
754        Action       Fantastique  Science-fiction        3.9
763       Comédie           Comédie          Comédie        3.3
957   Fantastique  Comédie musicale          Romance        5.6
977     Animation          Aventure          Comédie        7.7
1104       Action          Aventure            Drame        4.0
1797       Action          Aventure      Fantastique        6.7
2731        Drame           Romance            Drame        5.9

                                 franchise_1                   franchise_2  \
222                       Les 4 fantastiques                           NaN
302                       Les 4 fantastiques            Le Surfer d'argent
373   L'Irrégulière ou mon itinéraire Chanel                           NaN
404                                   Avatar                           NaN
407                                      NaN                           NaN
474                           Robin des bois                           NaN
688                      La Belle et la Bête                           NaN
754                       Les 4 fantastiques                           NaN
763                           Robin des bois                           NaN
957                      La Belle et la Bête  La Belle et la Bête (Disney)
977                                     Coco                         Pixar
1104                          Robin des bois                           NaN
1797                                  Avatar                           NaN
2731                                     NaN                           NaN

            pays  Année
222   États-Unis   2005
302   États-Unis   2007
373       France   2009
404   États-Unis   2009
407       France   2009
474   États-Unis   2010
688       France   2014
754   États-Unis   2015
763       France   2015
957   États-Unis   2017
977   États-Unis   2017
1104  États-Unis   2018
1797  États-Unis   2022
2731      France   2009

# Estimation du pourcentage des entrées dans le 1ère semaine

In [108]:
df2['Pourcentage_semaine_totales'] = (df2['Entrées']*100)/ df2['Entrée_totales']

In [109]:
df2

,Titre,Entrées,sortie_france,Entrée_totales,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année,Pourcentage_semaine_totales
0,babysitting,543729,16 avril 2014,2358733.0,919906,Philippe Lacheau,Alice David,Vincent Desagnat,85.0,Nicolas Benamou,Comédie,Comédie,Comédie,5.6,Babysitting,NaN,France,2014,23.051740
1,barbecue,647797,30 avril 2014,1600584.0,624228,Lambert Wilson,Franck Dubosc,Florence Foresti,98.0,Éric Lavaine,Comédie,Comédie,Comédie,5.0,Barbecue,NaN,France,2014,40.472540
2,pas son genre,124082,30 avril 2014,345107.0,134592,Émilie Dequenne,Loïc Corbery,Nkaké,111.0,Lucas Belvaux,Romance,Comédie,Romance,5.8,Pas son genre,NaN,France,2014,35.954646
3,godzilla,720996,14 mai 2014,1361689.0,531059,Aaron Taylor-Johnson,Ken Watanabe,Bryan Cranston,123.0,Gareth Edwards,Action,Aventure,Science-fiction,5.3,Godzilla,MonsterVerse,États-Unis,2014,52.948654
4,grace de monaco,152404,14 mai 2014,286956.0,111913,Nicole Kidman,Tim Roth,Frank Langella,103.0,Olivier Dahan,Biopic,Drame,Biopic,4.5,NaN,NaN,France,2014,53.110581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,the flash,388700,14 juin 2023,838501.0,327015,Ezra Miller,Michael Keaton,Sasha Calle,144.0,Andy Muschietti,Action,Aventure,Fantastique,5.0,The Flash,DC Extended Universe,États-Unis,2023,46.356534
724,élémentaire,426818,21 juin 2023,1659012.0,647015,Leah Lewis,Adèle Exarchopoulos,Mamoudou Athie,102.0,Peter Sohn,Animation,Aventure,Comédie,6.6,Pixar,NaN,États-Unis,2023,25.727240
725,asteroid city,117498,21 juin 2023,294235.0,114752,Jason Schwartzman,Scarlett Johansson,Tom Hanks,104.0,Wes Anderson,Comédie dramatique,Science-fiction,Comédie dramatique,6.2,NaN,NaN,États-Unis,2023,39.933387
726,indiana jones et le cadran de la destinée,1089875,28 juin 2023,2039369.0,795354,Harrison Ford,Phoebe Waller-Bridge,Mads Mikkelsen,154.0,James Mangold,Action,Aventure,Action,5.9,Indiana Jones,NaN,États-Unis,2023,53.441775
727,les vengeances de maître poutifard,180735,28 juin 2023,360119.0,140446,Christian Clavier,Isabelle Nanty,Jennie Anne Walker,87.0,Pierre-François Martin-Laval,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2023,50.187577

In [110]:
df[df['Titre'] == "avatar - la voie de l'eau"]

                          Titre  Entrées
1243  avatar - la voie de l'eau  2739848

In [111]:
df2[df2['Année'] != 2023]['Pourcentage_semaine_totales'].mean()

39.99054411857803

In [112]:
df2[df2['Pourcentage_semaine_totales'] >= 60.000000]

,Titre,Entrées,sortie_france,Entrée_totales,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année,Pourcentage_semaine_totales
29,the search,53211,26 novembre 2014,69936.0,27275,Bérénice Bejo,Annette Bening,Maxim Emelianov,134.0,Michel Hazanavicius,Drame,Guerre,Drame,6.3,The Search,NaN,France,2014,76.085278
80,arrête ton cinéma !,83248,13 janvier 2016,137199.0,53508,Sylvie Testud,Josiane Balasko,Zabou Breitman,90.0,Diane Kurys,Comédie,Comédie,Comédie,4.3,C'est le métier qui rentre,NaN,France,2016,60.676827
81,et ta sœur,81813,13 janvier 2016,133120.0,51917,Virginie Efira,Vincent Furic,Grégoire Ludig,95.0,Marion Vernoux,Comédie dramatique,Comédie dramatique,Comédie dramatique,5.2,"Ma meilleure amie, sa soeur et moi",NaN,France,2016,61.458083
83,le convoi,96050,20 janvier 2016,141679.0,55255,Benoît Magimel,Reem Kherici,Tewfik Jallab,102.0,Frédéric Schoendoerffer,Action,Drame,Thriller,5.1,NaN,NaN,France,2016,67.794098
86,encore heureux,224459,27 janvier 2016,372512.0,145280,Sandrine Kiberlain,Édouard Baer,Carla Besnaïnou,94.0,Benoît Graffin,Comédie,Comédie,Comédie,5.4,NaN,NaN,France,2016,60.255509
100,la dream team,137639,23 mars 2016,212484.0,82869,Medi Sadoun,Gérard Depardieu,Chantal Lauby,95.0,Thomas Sorriaux,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2016,64.776171
156,iris,102231,16 novembre 2016,151259.0,58991,Romain Duris,Charlotte Le Bon,Jalil Lespert,99.0,Jalil Lespert,Thriller,Policier,Thriller,5.3,Chaos,NaN,France,2016,67.586722
159,oppression,56727,30 novembre 2016,88143.0,34376,Naomi Watts,Jacob Tremblay,Oliver Platt,87.0,Farren Blackburn,Drame,Thriller,Épouvante-Horreur,4.4,NaN,NaN,États-Unis,2016,64.357918
165,mes trésors,99200,4 janvier 2017,140912.0,54956,Jean Reno,Reem Kherici,Camille Chamoux,91.0,Pascal Bourdiaux,Comédie,Comédie,Comédie,4.2,NaN,NaN,France,2017,70.398547
177,a cure for life,152375,15 février 2017,221736.0,86477,Dane DeHaan,Jason Isaacs,Mia Goth,146.0,Gore Verbinski,Thriller,Thriller,Thriller,5.9,NaN,NaN,États-Unis,2017,68.719107
182,john wick 2,201953,22 février 2017,335908.0,131004,Keanu Reeves,Common,Laurence Fishburne,122.0,Chad Stahelski,Action,Thriller,Policier,6.4,John Wick,NaN,États-Unis,2017,60.121521
247,geostorm,235162,1 novembre 2017,389652.0,151964,Gerard Butler,Jim Sturgess,Abbie Cornish,109.0,Dean Devlin,Action,Catastrophe,Science-fiction,4.0,Geostorm,NaN,États-Unis,2017,60.351801
250,tout nous sépare,101574,8 novembre 2017,166665.0,64999,Catherine Deneuve,Diane Kruger,Nekfeu,99.0,Thierry Klifa,Thriller,Thriller,Thriller,4.8,NaN,NaN,France,2017,60.945009
277,hurricane,138886,28 février 2018,227787.0,88837,Toby Kebbell,Maggie Grace,Ryan Kwanten,103.0,Rob Cohen,Action,Thriller,Catastrophe,4.1,NaN,NaN,États-Unis,2018,60.971873
281,un raccourci dans le temps,198760,14 mars 2018,277112.0,108074,Oprah Winfrey,Reese Witherspoon,Mindy Kaling,109.0,Ava DuVernay,Aventure,Fantastique,Science-fiction,3.5,A Wrinkle in Time,NaN,États-Unis,2018,71.725512
300,amoureux de ma femme,185552,25 avril 2018,292731.0,114165,Sandrine Kiberlain,Adriana Ugarte,Gérard Depardieu,84.0,Daniel Auteuil,Comédie,Drame,Romance,4.0,NaN,NaN,France,2018,63.386522
303,death wish,145073,9 mai 2018,238840.0,93148,Bruce Willis,Vincent D'Onofrio,Elisabeth Shue,109.0,Eli Roth,Action,Action,Action,5.3,Death Wish,NaN,États-Unis,2018,60.740663
304,abdel et la comtesse,109355,9 mai 2018,172662.0,67338,Charlotte de Turckheim,Amir El Kacem,Margaux Chatelier,95.0,Isabelle Doval,Comédie,Comédie,Comédie,4.7,NaN,NaN,France,2018,63.334723
308,la fête des mères,76125,23 mai 2018,122766.0,47879,Audrey Fleurot,Clotilde Courau,Olivia Côte,101.0,Marie-Castille Mention-Schaar,Comédie dramatique,Comédie dramatique,Comédie dramatique,4.7,NaN,NaN,France,2018,62.008211
313,les aventures de spirou et fantasio,145435,21 février 2018,237846.0,92760,Thomas Soliveres,Alex Lutz,Géraldine Nakache,89.0,Alexandre Coffre,Comédie,Aventure,Comédie,3.0,Spirou et Fantasio,NaN,France,2018,61.146708
318,budapest,126231,27 juin 2018,200172.0,78067,Manu Payet,Jonathan Cohen,Monsieur Poulpe,102.0,Xavier Gens,Comédie,Comédie,Comédie,5.3,NaN,NaN,France,2018,63.061267
319,les affamés,75937,27 juin 2018,109577.0,42735,Louane,François Deblock,Nina Melo,95.0,Léa Fredeval,Comédie,Comédie,Comédie,4.2,Les Affamés,NaN,France,2018,69.300127
343,le poulain,92645,19 septembre 2018,150519.0,58702,Alexandra Lamy,Finnegan Oldfield,Gilles Cohen,97.0,Mathieu Sapin,Comédie,Comédie,Comédie,5.3,NaN,NaN,France,2018,61.550369
397,mon bébé,361898,13 mars 2019,602812.0,235097,Sandrine Kiberlain,Thaïs Alessandrin,Victor Belmondo,87.0,Lisa Azuelos,Comédie dramatique,Comédie dramatique,Comédie dramatique,5.6,NaN,NaN,France,2019,60.034969
410,hellboy,152683,8 mai 2019,232008.0,90483,David Harbour,Milla Jovovich,Ian McShane,121.0,Neil Marshall,Action,Aventure,Fantastique,4.3,Hellboy,NaN,États-Unis,2019,65.809369
420,made in china,173283,26 juin 2019,263675.0,102833,Frédéric Chau,Medi Sadoun,Julie de Bona,88.0,Julien Abraham,Comédie,Comédie,Comédie,4.7,NaN,NaN,France,2019,65.718403
444,le dindon,151796,25 septembre 2019,241530.0,94197,Dany Boon,Guillaume Gallienne,Alice Pol,85.0,Jalil Lespert,Comédie,Comédie,Comédie,4.2,Le Dindon,NaN,France,2019,62.847679
449,la vérité si je mens ! les débuts,127768,16 octobre 2019,193815.0,75588,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019,65.922658
518,poly,458929,21 octobre 2020,604853.0,235893,François Cluzet,Julie Gayet,Elisa de Lambert,102.0,Nicolas Vanier,Aventure,Aventure,Aventure,5.5,Poly,NaN,France,2020,75.874469
519,petit vampire,155496,21 octobre 2020,244326.0,95287,Louise Lacoste,Camille Cottin,Jean-Paul Rouve,82.0,Joann Sfar,Animation,Fantastique,Comédie,6.7,Petit vampire,NaN,France,2020,63.642838
533,hitman & bodyguard 2,214788,30 juin 2021,270032.0,105312,Ryan Reynolds,Samuel L. Jackson,Salma Hayek,116.0,Patrick Hughes,Action,Aventure,Comédie,5.1,Hitman & Bodyguard,NaN,États-Unis,2021,79.541684
534,the deep house,150204,30 juin 2021,207125.0,80779,Camille Rowe,James Jagger,Eric Savin,85.0,Alexandre Bustillo,Épouvante-Horreur,Épouvante-Horreur,Épouvante-Horreur,4.8,NaN,NaN,France,2021,72.518527
538,fast & furious 9,1301589,14 juillet 2021,2025112.0,789794,Vin Diesel,Michelle Rodriguez,John Cena,145.0,Justin Lin,Action,Aventure,Policier,4.6,Fast and Furious,NaN,États-Unis,2021,64.272445
543,le tour du monde en 80 jours,163520,4 août 2021,258499.0,100815,NaN,NaN,NaN,90.0,Samuel Tourneux,Animation,Aventure,Comédie,4.9,Le Tour du monde en 80 jours,NaN,France,2021,63.257498
570,cry macho,126797,10 novembre 2021,198141.0,77275,Clint Eastwood,Dwight Yoakam,Daniel V. Graulau,104.0,Clint Eastwood,Drame,Western,Thriller,5.3,NaN,NaN,États-Unis,2021,63.993318
594,moonfall,207212,9 février 2022,342251.0,133478,Halle Berry,Patrick Wilson,John Bradley,130.0,Roland Emmerich,Action,Aventure,Science-fiction,4.0,NaN,NaN,États-Unis,2022,60.543870
606,alors on danse,167617,16 mars 2022,238306.0,92939,Isabelle Nanty,Michèle Laroque,Thierry Lhermitte,87.0,Michèle Laroque,Comédie,Comédie,Comédie,3.9,Finding Your Feet,NaN,France,2021,70.336878
628,irréductible,460859,29 juin 2022,760673.0,296662,Jérôme Commandeur,Laetitia Dosch,Pascale Arbillot,84.0,Jérôme Commandeur,Comédie,Comédie,Comédie,5.6,NaN,NaN,France,2021,60.585692

# df3

In [113]:
df3 = df1.merge(df2[["Titre", "Entrées"]], on="Titre", how="left")

In [114]:
df3

,Titre,sortie_france,Entrée_totales,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année,Entrées
0,en pleine tempête,9 août 2000,1403086.0,547204,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,2000,NaN
1,escrocs mais pas trop,6 décembre 2000,1038868.0,405159,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,2000,NaN
2,le prince du pacifique,20 décembre 2000,1028773.0,401221,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,2000,NaN
3,billy elliot,20 décembre 2000,2514645.0,980712,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,2000,NaN
4,hollow man - l'homme sans ombre,20 septembre 2000,1512638.0,589929,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,2000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,nevada,19 juin 2019,174181.0,67931,Matthias Schoenaerts,Jason Mitchell,Bruce Dern,96.0,Laure de Clermont-Tonnerre,Drame,Drame,Drame,6.7,NaN,NaN,France,2019,NaN
3997,"black snake, la légende du serpent noir",20 février 2019,174422.0,68025,Thomas N'Gijol,Karole Rocher,Michel Gohou,82.0,Thomas N'Gijol,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2019,NaN
3998,perdrix,14 août 2019,143672.0,56032,Swann Arlaud,Maud Wyler,Fanny Ardant,99.0,Erwan Le Duc,Comédie,Comédie,Comédie,6.6,NaN,NaN,France,2019,59482.0
3999,la vérité si je mens ! les débuts,16 octobre 2019,193815.0,75588,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019,127768.0
4000,j’veux du soleil,3 avril 2019,185795.0,72460,François Ruffin,Jean-Michel Aphatie,Christophe Barbier,80.0,François Ruffin,NaN,NaN,NaN,6.8,NaN,NaN,NaN,2019,NaN

In [115]:
df3['Entrées_1ere_semaine'] = df3['Entrées'].fillna(df1['1er_semaine_estimation'])

In [116]:
df3

,Titre,sortie_france,Entrée_totales,1er_semaine_estimation,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année,Entrées,Entrées_1ere_semaine
0,en pleine tempête,9 août 2000,1403086.0,547204,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,2000,NaN,547204.0
1,escrocs mais pas trop,6 décembre 2000,1038868.0,405159,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,2000,NaN,405159.0
2,le prince du pacifique,20 décembre 2000,1028773.0,401221,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,2000,NaN,401221.0
3,billy elliot,20 décembre 2000,2514645.0,980712,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,2000,NaN,980712.0
4,hollow man - l'homme sans ombre,20 septembre 2000,1512638.0,589929,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,2000,NaN,589929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,nevada,19 juin 2019,174181.0,67931,Matthias Schoenaerts,Jason Mitchell,Bruce Dern,96.0,Laure de Clermont-Tonnerre,Drame,Drame,Drame,6.7,NaN,NaN,France,2019,NaN,NaN
3997,"black snake, la légende du serpent noir",20 février 2019,174422.0,68025,Thomas N'Gijol,Karole Rocher,Michel Gohou,82.0,Thomas N'Gijol,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2019,NaN,NaN
3998,perdrix,14 août 2019,143672.0,56032,Swann Arlaud,Maud Wyler,Fanny Ardant,99.0,Erwan Le Duc,Comédie,Comédie,Comédie,6.6,NaN,NaN,France,2019,59482.0,59482.0
3999,la vérité si je mens ! les débuts,16 octobre 2019,193815.0,75588,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019,127768.0,127768.0
4000,j’veux du soleil,3 avril 2019,185795.0,72460,François Ruffin,Jean-Michel Aphatie,Christophe Barbier,80.0,François Ruffin,NaN,NaN,NaN,6.8,NaN,NaN,NaN,2019,NaN,NaN

In [117]:
df3.drop(columns=["1er_semaine_estimation", "Entrées"], inplace=True)

In [118]:
df3

,Titre,sortie_france,Entrée_totales,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année,Entrées_1ere_semaine
0,en pleine tempête,9 août 2000,1403086.0,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,2000,547204.0
1,escrocs mais pas trop,6 décembre 2000,1038868.0,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,2000,405159.0
2,le prince du pacifique,20 décembre 2000,1028773.0,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,2000,401221.0
3,billy elliot,20 décembre 2000,2514645.0,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,2000,980712.0
4,hollow man - l'homme sans ombre,20 septembre 2000,1512638.0,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,2000,589929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,nevada,19 juin 2019,174181.0,Matthias Schoenaerts,Jason Mitchell,Bruce Dern,96.0,Laure de Clermont-Tonnerre,Drame,Drame,Drame,6.7,NaN,NaN,France,2019,NaN
3997,"black snake, la légende du serpent noir",20 février 2019,174422.0,Thomas N'Gijol,Karole Rocher,Michel Gohou,82.0,Thomas N'Gijol,Comédie,Comédie,Comédie,4.5,NaN,NaN,France,2019,NaN
3998,perdrix,14 août 2019,143672.0,Swann Arlaud,Maud Wyler,Fanny Ardant,99.0,Erwan Le Duc,Comédie,Comédie,Comédie,6.6,NaN,NaN,France,2019,59482.0
3999,la vérité si je mens ! les débuts,16 octobre 2019,193815.0,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019,127768.0
4000,j’veux du soleil,3 avril 2019,185795.0,François Ruffin,Jean-Michel Aphatie,Christophe Barbier,80.0,François Ruffin,NaN,NaN,NaN,6.8,NaN,NaN,NaN,2019,NaN

In [119]:
df3['Entrées_1ere_semaine'].isna().sum()

13

In [120]:
df3 = df3.dropna(subset=['Entrées_1ere_semaine'])

In [121]:
df3

,Titre,sortie_france,Entrée_totales,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année,Entrées_1ere_semaine
0,en pleine tempête,9 août 2000,1403086.0,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,2000,547204.0
1,escrocs mais pas trop,6 décembre 2000,1038868.0,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,2000,405159.0
2,le prince du pacifique,20 décembre 2000,1028773.0,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,2000,401221.0
3,billy elliot,20 décembre 2000,2514645.0,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,2000,980712.0
4,hollow man - l'homme sans ombre,20 septembre 2000,1512638.0,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,2000,589929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983,mais vous êtes fous,24 avril 2019,101540.0,Pio Marmaï,Céline Sallette,Maxence Tual,95.0,Audrey Diwan,Drame,Drame,Drame,6.4,NaN,NaN,France,2019,56032.0
3984,"vous êtes jeunes, vous êtes beaux",2 octobre 2019,4986.0,Gérard Darmon,Josiane Balasko,Vincent Winterhalter,95.0,Franchin Don,Drame,Drame,Drame,5.6,NaN,NaN,France,2019,75588.0
3985,salauds de pauvres,NaN,50.0,Arielle Dombasle,Agnès Akopian,Christophe Alévêque,0.0,Christophe Alévêque,Comédie,Comédie,Comédie,NaN,NaN,NaN,France,2019,72460.0
3998,perdrix,14 août 2019,143672.0,Swann Arlaud,Maud Wyler,Fanny Ardant,99.0,Erwan Le Duc,Comédie,Comédie,Comédie,6.6,NaN,NaN,France,2019,59482.0
3999,la vérité si je mens ! les débuts,16 octobre 2019,193815.0,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019,127768.0

# Création d'un fichier csv

In [122]:
df3.to_csv('data/gold.data.csv', index=False)